.idea
*.tfstate*
.terraform
*.sw[o,p]
tf.out
auth.tfvars
terraform.tfvars
docs/modules/*.md
docs/saltstack/*.md
site
*.pem
*.crt
*.csr
cfssl
cfssljson
id_rsa*
tests/gitlab-asg/cert-csr.json
tests/gitlab-asg/ca-csr.json
